APP_CONFIG__DB__URL=postgresql+asyncpg://user:password@localhost:5432/shop
APP_CONFIG__DB__ECHO=0
APP_CONFIG__GUNICORN_WORKERS=4
APP_CONFIG__ACCESS_TOKEN__RESET_PASSWORD_TOKEN_SECRET =ee3191d2dcee76f437b354863bc838f6a54896d4232d6496edb322c1a9db272c
APP_CONFIG__ACCESS_TOKEN__VERIFICATION_TOKEN_SECRET = e93b4be4d86311556620ff846003ed3d842c0f939434a4e21b12b1e73a79c059
